input[type="text"] {
  min-width: 100px;
  width: 70%;
  font-size: 16px;
}

button {
  max-width: 25%;
  font-size: 16px;
}

nav {
  height: 1%;
  text-align: right;
}

.container {
  height: 20%;
}

.welcome {
  width: 100%
}

.bookingCreate {
  width: 50%;
  float: left;
  text-align: left;
  display: inline;
}

.tripCreate {
  width: 50%;
  float: right;
  text-align: left;
  display: inline;
}

#tripSuccess {
  display: none;
  height: 60%;
  width: 50%;
  overflow: scroll;
}
